.vertFonce,.w3-hover-teal:hover{color:#fff!important;background-color:#00A388!important}
.vertClair {background-color: #BEEB9F}
.hr {background-color: #44d187;}
a {
    color : #444444;
}
p { background-color: #44d187
}
th {background-color: #deb860; font-family: Arial;
}
/*
td {background-color: #FFFF9D; font-family: Arial;
}
*/
html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #007777;
    color: #FFFFFF;
}

.page-header{
    background-color: #FFFF9D; font-family: Arial;
    width: 100%;
}

#frm {
    bottom:0;
    height: 20px;
    /*
    background-color : #eeeeff
    */
}

#cb {
    margin-right:15px;
}

.formstd{
    background-color : #ff0000
}